<!DOCTYPE html>
<html>
  <head>
    <title>Flexi Link</title>
    <link rel="icon" type="image/png" href="/images/Flexi Link Logo.png">
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
